<% layout('../layout/boilerplate.ejs') %>

    <div class="jumbotron jumbotron-fluid">
        <div class="jumbotron-container">
            <h1 class="display-4" style="color: white">CryptoBlog</h1>
            <p>The leading crypto discussion site on the web.</p>
        </div>
    </div>

    <container class="container">
        <cards class="cards">   
            
        </cards>
    </container>