<% layout('../layout/boilerplate.ejs') %>

    <div class="jumbotron jumbotron-fluid">
        <div class="jumbotron-container">
            <h1 class="display-4">CryptoBlog</h1>
            <p>The leading crypto discussion site on the web.</p>
        </div>
    </div>

    <container class="container">
        <cards class="cards">
            <coin class="coin-class">
                <card class="asset-info">
                    <div class="title">
                        <img src="https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg"
                            width="15%">
                        <h1>Bitcoin</h1>
                    </div>
                    <div class="details">
                        <h2 class="asset-price" id="price1"></h2>
                    </div>
                </card>
                <canvas id="1"></canvas>
            </coin>

            <coin class="coin-class">
                <card class="asset-info">
                    <div class="title">
                        <img src="https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/atm.svg"
                            width="15%">
                        <h1>Cosmos</h1>
                    </div>
                    <div class="details">
                        <h2 class="asset-price" id="price2"></h2>
                    </div>
                </card>
                <canvas id="2"></canvas>
            </coin>

            <coin class="coin-class">
                <card class="asset-info">
                    <div class="title">
                        <img src="https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/eth.svg"
                            width="10%">
                        <h1>Ethereum</h1>
                    </div>
                    <div class="details">
                        <h2 class="asset-price" id="price3"></h2>
                    </div>
                </card>
                <canvas id="3"></canvas>
            </coin>
        </cards>
    </container>