<% layout('../layout/boilerplate.ejs') %>

    <div class="form-container">
        <h1>Create a new post</h1>
        <form action='/newpost/<%= coinName %>' method="POST" id="form">
            <div id="form-items">
                <h1>Give your feedback!</h1>
                <textarea id="description" placeholder="Description" name="description" rows=10"></textarea>
                <button id="submit" type="submit" class="btn btn-danger">Submit</button>
            </div>
        </form>
    </div>