<% layout('../layout/boilerplate.ejs') %>
    <div class="contents-container">
        <div class="container">
            <div class="post-container">

                <% for(var i=0; i < posts.length; i++) { %>
                    <div class="post">
                        <h1>
                            <%= posts[i].name %>
                        </h1>
                        <p>
                            <%= posts[i].description %>
                        </p>
                    </div>
                    <% } %>
            </div>
            <button type="button" class="btn btn-danger">
                <a href='/newpost/<%= coinName %>'>Create a post</a>
            </button>
        </div>

    </div>