<nav class="navbar navbar-expand-lg fixed-top">
    <div class="nav-class">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            </div>
        </div>

        <% if(id) { %>
            <div class="nav-buttons">
                <button class='logout-button' type='submit'><a href="/">Home</a></button>
                <form class="logout-form" action="/logout" method="POST">
                    <button class='logout-button' type='submit'>Log Out</button>
                </form>
            </div>

            <% } else { %>
                <div class="unregistered-buttons">
                    <button class='logout-button' type='submit'><a href="/">Home</a></button>
                    <button class='logout-button' type='submit'><a href="/login">Login</a></button>
                    <button class='logout-button' type='submit'><a href="/register">Register</a></button>
                </div>
            <% } %>
    </div>
</nav>